# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw

# Virtual Environment
env/
*.venv
*.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Other
.DS_Store
*.log
*.csv
*.json
*.sqlite

# dist/
dist/
build/
*.egg-info/
*.egg
*.eggs

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/